<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'custom-header.css' | asset_url }}">
    <link rel="stylesheet" href="{{ 'custom-footer.css' | asset_url }}">
    
    {{ content_for_header }}
  </head>
  <body>
    
    <!-- Уникальный хедер -->
    {% section 'header-custom' %}
  
    <main role="main">
      {{ content_for_layout }}
      {% section 'hero-custom' %}
    </main>
  
    <!-- Уникальный футер -->
    {% section 'footer-custom' %}
    {{ content_for_footer }}
    <script src="{{ 'burger-menu.js' | asset_url }}" defer></script>
  </body>
  </html>