<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ 'swiper-bundle.min.css' | asset_url }}">
    {{ content_for_header }}
  </head>
  <body>
    <header>
    {% section 'header-custom' %}
    </header>
    
  
    <main role="main">
      {{ content_for_layout }}
      {% section 'hero-custom' %}
    </main>
  
    <footer class="landing-footer">
      {% section 'footer-custom' %}
      {% section 'post-footer-socials' %}
      {{ content_for_footer }}
    </footer>
    
    <script src="{{ 'burger-menu.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper.js' | asset_url }}" defer></script>
    <script src="{{ 'swiper-bundle.min.js' | asset_url }}" defer></script>
  </body>
  </html>