<footer class="landing-footer">
    {% assign menu = linklists['menu-for-landing'] %}

    <div class="container" style="padding-left:{{section.settings.padding-left}};padding-right:{{section.settings.padding-right}};justify-content: space-between;{% if section.settings.footer_aligment == 'right' %}flex-direction: row-reverse;{% endif %}">
      <div class="logo">
        {%- if section.settings.logo_image != blank -%}
        <img src="{{ section.settings.logo_image | image_url: width: 173.11, height: 40 }}" alt="THP Logo" width="173.11" height="40" />
          {%- else -%}
          <img src="{{ 'Logo.png' | asset_url }}" alt="THP Logo" width="173.11" height="40" />
        {%- endif -%}
        </div>
      <nav class="nav-links">
        
        {% for link in menu.links %}
          <a href="{{ link.url }}">{{link.title}}</a>
        {% endfor %}
      </nav>
      <div class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>


  </footer>

  {% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Upload Logo",
      },
      {
      	"type": "radio",
        "id": "footer_aligment",
        "label": "Footer aligment",
          "options": [
            {
              "value": "left",
              "label": "Normal"
            },
            {
              "value": "right",
              "label": "Reversed"
            }
          ],
        "default": "left"
      },
      {
        "type": "range",
        "id": "padding-left",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding left",
        "default": 50
      },
      {
        "type": "range",
        "id": "padding-right",
        "min": 10,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding right",
        "default": 50
      }
          ]
      }
      
{% endschema %}