<link rel="stylesheet" href="{{ 'landing-swiper.css' | asset_url }}">

<div class="collections-section">
  <div class="collections-tabs">
      {% for block in section.blocks %}
      <button class="collection-tab {% if block.settings.collection_handle == section.settings.default_collection %} active-collection-tab {% endif %}" data-collection="{{ block.settings.collection_handle }}">
          {{ block.settings.collection_name }}
          {% if section.settings.show_count %}
            <span>{{ collections[block.settings.collection_handle].products_count }}</span>
          {% endif %}
      </button>
      {% endfor %}
  </div>

  <div class="active-collection-description">
      <p id="collection-description"></p>
  </div>

  {% for block in section.blocks %}
  <div class="collection-content" id="{{ block.settings.collection_handle }}" data-description="{{ collections[block.settings.collection_handle].description }}" style="{% if block.settings.collection_handle == section.settings.default_collection %}display:block{% else %}display:none{% endif %}">
      <div class="swiper-container landing-swiper swiper-{{ block.settings.collection_handle }}">
          <div class="swiper-collections swiper-wrapper">
              {% for product in collections[block.settings.collection_handle].products %}
              <div class="swiper-slide swiper-collections collections-product-card">
                  
                  <div class="collections-product-card-img">
                    <img src="{{ product.featured_image | image_url: width: 300, height: 300 }}" alt="{{ product.title }}" width="300" height="300">
                  </div>  
                  <div class="collections-product-card-text">
                    <h3>{{ product.title | strip_html  }}</h3>
                    <p>{{ product.variants.first.weight | strip_html }} {{ product.variants.first.weight_unit }}</p>
                    <div class="collections-product-card-price">
                      <p>{{ product.price | strip_html  | money }}</p>
                    </div>
                  </div>
                    
              </div>
              {% endfor %}
          </div>
          <div class="swiper-navigation">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            
          </div>
        </div>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabs = document.querySelectorAll('.collection-tab');
    const collections = document.querySelectorAll('.collection-content');
    const descriptionElement = document.getElementById('collection-description');

    function initializeSwiper(tab) {
      const collectionHandle = tab.getAttribute('data-collection');
      return new Swiper(`.swiper-${collectionHandle}`, {
        slidesPerView: 'auto',
        spaceBetween: 8,
        centeredSlides: true,
        speed: 1000,
        loop: true,
        navigation: {
          nextEl: `.swiper-button-next`,
          prevEl: `.swiper-button-prev`
        },
        autoplay: {
          delay: 3000
        }
      });
    }

    function switchCollection(tab) {
      tabs.forEach(t => t.classList.remove('active-collection-tab'));
      collections.forEach(collection => collection.style.display = 'none');

      tab.classList.add('active-collection-tab');
      const targetCollection = document.getElementById(tab.getAttribute('data-collection'));
      targetCollection.style.display = 'block';

      const collectionDescription = targetCollection.getAttribute('data-description');
      descriptionElement.innerHTML = collectionDescription ? collectionDescription : '';

      const swiperInstance = initializeSwiper(tab);
      swiperInstance.update();
    }

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        switchCollection(tab);
      });
    });

    const defaultCollection = document.getElementById('{{ section.settings.default_collection }}');
    if (defaultCollection) {
      const defaultDescription = defaultCollection.getAttribute('data-description');
      descriptionElement.innerHTML = defaultDescription ? defaultDescription : '';
      switchCollection(tabs[0]); 
    }
  });
</script>

{% schema %}
{
  "name": "Collections Slider",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_count",
      "label": "Show Product Count",
      "default": true
    },
    {
      "type": "collection",
      "id": "default_collection",
      "label": "Select Default Collection"
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection_handle",
          "label": "Select Collection"
        },
        {
          "type": "text",
          "id": "collection_name",
          "label": "Collection Display Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
